.product-images-4{
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.product-images-3{
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

 .product-button{
    width: 250px;  
 }

