* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
}

.nav-container {
    max-width: 100%;
    margin: 2rem auto 2rem;
}

a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: medium;
    color: black;
    text-decoration: none;
    display: inline-block;
} 

ul {
    list-style: none;
    padding: 0;
}

/* Navbar */

.row {
    display: flex;
    align-items: center;
}

header.nav-container.row {
    padding: 0 8rem;
}

header {
justify-content: space-between;
align-items: center;
padding: .8rem;
}

header ul {
    gap: 2em;
}

.navigation {
    flex-grow: 1;
    align-items: center;
}

.primary-list {
    margin: 0 auto;
}

.secondary-list {
    margin: 0;
}

.nav-bottom-border {
    padding: 2rem;
    background-color: black;
}


/* HERO SECTION */ 

.hero-content {
    width: 100%;
    margin-left: 8rem;
}

.container.hero {
    padding-bottom: 8rem;
    padding-top: 4rem;
}

section {
    align-items: center;
    padding: 1.5em 0;
}

section.container.hero.row {
    background-image: url(media/media_index/hero-section_IMG.png);
    background-size: 100%;
    background-repeat:no-repeat;
    width: 100%;
}

/* BRAND SECTION */ 

.brand-img {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-right: 4rem;
    margin-top: 4rem;
}

section.our-brand {
    margin: 1rem 8rem;
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 1.5em 0;
}

/* ARRIVALS SECTION */ 

.arrivals-img {
    margin: 8rem 4rem 4rem 0;
}

section.arrivals {
    margin: 2rem 8rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* IN ACTION SECTION */ 

.action-content {
    width: 100%;
    margin-left: 8rem;
}

.container.action {
    padding-bottom: 10rem;
    padding-top: 4rem;
}

section {
    align-items: center;
    padding: 1.5em 0;
}

section.container.action.row {
    filter: grayscale(100);
    background-image: url(media/media_index/our-prod-in-action_GIF.gif);
    background-size: 100%;
    background-repeat:no-repeat;
    width: 100%;
}

/* SPONSORS SECTION */ 

.sponsors-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
}

.sponsors h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* H1 */
h1
{
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: 700;
    font-size: 55pt;
    color: black;
}

.our-products h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.action-content h1 {
    font-family: 'Zilla Slab', sans-serif;
    color: white;
    display: flex;
    align-content: left;
    justify-content: left;
    margin-bottom: 2rem;
}

/* H2 */

h2 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: 400;
    font-size: 35pt;
    color: black;
}

.hero-content h2 {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 400;
    font-size: 35pt;
    color: white;
    background-color: black;

    width: 43%;
    margin-top: 6rem;
    margin-left: 56.9%;
    display: flex;
    justify-content: right;
}

/* P1 */

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: black;
}

.p-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color: black;
}

.our-products p {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.action-content p {
    color: white;
    display: flex;
    align-content: left;
    justify-content: left;
    margin-bottom: 2rem;
}

/* P2 */

.p2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: black;
}

.profile-info .p2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: grey;
}

/* BUTTONS */

.btn-fill {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12pt;
    background-color: black;
    color: white;
    padding: 14pt;
    margin-top: 2rem;
}

.btn-stroke {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12pt;
    color: black;
    margin-top: 2rem;
}

/* FOOTER*/

.footer {
    background-color: black;
    padding: 4rem 0;
}

.footer-container {
    max-width: 82%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer ul {
    color: white;
    font-weight: 700;
}

.footer p {
    color: white;
    font-weight: 700;
}

.footer a {
    color: white;
    margin-top: .8rem;
    font-weight: 400;
}

.copyright-container {
    max-width: 80%;
    margin: auto;
}

.copyright-container .p2 {
    font-size: 10pt;
    font-weight: 300;
    margin-top: 4rem;
}

.socials a {
    margin-right: .6rem;
}

/* PAGE HEADERS

.secondary-page-header {

}  */